@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme */
  --primary-text: #000000;
  --secondary-text: #696969;
  --tertiary-text: #c7c7c7;
  --link: #0095f6;
  --link-hover: #01376b;
  --background: #ffffff;
  --background-hover: #f2f2f2;
  --borders: #dbdbdb;
  --highlight-background: #efefef;
  --placeholder: #9ca3af;
  --primary-button: #0095f6;
  --primary-button-hover: #1877f2;
  --secondary-background: #fafafa;
  --banner-background: #ffffff;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --stroke: #f4f4f4;

  /* Misc */
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;
  --nav-drawer-width: 397px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #f5f5f5;
    --secondary-text: #a8a8a8;
    --tertiary-text: #737373;
    --link: #0095f6;
    --link-hover: #e0f1ff;
    --background: #000000;
    --background-hover: #1a1a1a;
    --borders: #262626;
    --highlight-background: #262626;
    --placeholder: #9ca3af;
    --primary-button: #0095f6;
    --primary-button-hover: #1877f2;
    --secondary-background: #121212;
    --banner-background: #262626;
    --hover-overlay: rgba(255, 255, 255, 0.1);
    --stroke: #353535;
  }
}

body {
  @apply bg-background text-primary-text;
}
